<div class="container devise">
    <div class="row">
        <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2">
            <div class="post-preview">
                <h2>로그인</h2>
                <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                  <div class="field">
                    <%= f.label :email %><br />
                    <%= f.email_field :email, autofocus: true %>
                  </div>

                  <div class="field">
                    <%= f.label :password %><br />
                    <%= f.password_field :password, autocomplete: "off" %>
                  </div>

                  <div class="actions">
                      <%= f.submit "로그인", :class => "btn btn-default" %>
                      <%= render "users/shared/links" %>
                  </div>
                <% end %>
            </div>
            <hr>
        </div>
    </div>
</div>
