<div class="container devise">
    <div class="row">
        <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2">
            <div class="post-preview">
                <h2>회원가입</h2>
                <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                  <%= devise_error_messages! %>

                  <div class="field">
                    <%= f.label :email %><br />
                    <%= f.email_field :email, autofocus: true %>
                  </div>

                  <div class="field">
                    <%= f.label :password %>
                    <% if @minimum_password_length %>
                    <strong>( 최소 <%= @minimum_password_length %>글자 이상)</strong>
                    <% end %><br />
                    <%= f.password_field :password, autocomplete: "off" %>
                  </div>

                  <div class="field">
                    <%= f.label :password_confirmation %><br />
                    <%= f.password_field :password_confirmation, autocomplete: "off" %>
                  </div>

                  <div class="actions">
                      <%= f.submit "회원가입", :class => "btn btn-default" %>
                      <%= render "users/shared/links" %>
                  </div>
                <% end %>
            </div>
            <hr>
        </div>
    </div>
</div>
