<ul>
  <% for book_info in @book_infos %>
      <li><%= book_info.bookname %></li>
        <ul>
            <li>분야 : <%= book_info.field %></li>
            <li>작가 : <%= book_info.author %></li>
            <li>출판사 : <%= book_info.publisher %></li>
            <li>ISBN : <%= book_info.isbn %></li>
            <li>수량 : <%= book_info.books.count %></li>
            <li><%= book_info.books.count %></li>
        </ul>
  <% end %>
</ul>
