<h1><%= @book.book_info.bookname %></h1>
  <p>분야 : <%= @book.book_info.field %></p>
  <p>작가 : <%= @book.book_info.author %></p>
  <p>출판사 : <%= @book.book_info.publisher %></p>
  <p>ISBN : <%= @book.book_info.isbn %></p>
