<!DOCTYPE html>
<html>
<head>
  <title>Bookrental</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>
  <ul>
    <% if user_signed_in? %>
      <li><%= link_to 'Sign out', destroy_user_session_path, :method => :delete %></li>
    <% else %>
      <li><%= link_to 'Sign in', user_session_path %></li>
    <% end %>
    <li><%= link_to 'Books', book_infos_path %></li>
  </ul>
</header>

<%= yield %>

</body>
</html>
